# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

.vscode/
ex00/app
ex01/app
ex02/app
ex03/app
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ex02/prompt
